// Caption

@media (min-width: @tablet-width) {
  .caption {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
  }

  .caption__slogan {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .caption__links {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .caption__img {
    grid-column-start: -1;
    grid-column-end: -2;
    grid-row-start: 1;
    grid-row-end: -1;
  }
}

@media (min-width: @desktop-width) {
  .caption {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content;
  }

  .caption__slogan {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .caption__links {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .caption__img {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
  }
}

.caption--box {
  width: 100%;
  height: 462px;
  background-color: @grey-dark;
  background-image: url("../img/index/house-background.jpg") no-repeat center;
  position: relative;
}

.caption__slogan {
  color: @white;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.caption__slogan--box {
  padding: 50px 20px 40px;
}

.caption__img {
  display: flex;
}

.caption__img-hand-phone {
  width: 320px;
  height: 286px;
  position: relative;
}

.caption__img-phone-screen {
  width: 111px;
  height: 197px;
  position: absolute;
  padding: 32px 104px;
}

.caption__links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.caption__links--box {
  background-color: @black-blue;
  width: 100%;
  height: 271px;

  @media (min-width: @tablet-width) {
    background-color: inherit;
  }
}

.caption__link {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.caption__link--box {
  width: 280px;
  height: 55px;
  border: 3px solid @white;
  box-sizing: border-box;
  border-radius: 29px;
  padding: 15px 43px;
}

.caption__links-icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 205px;
  height: 56px;
  margin: 40px auto 25px;
}

.caption__links-icon-item {
  list-style-type: none;
}

.caption__links-description {
  color: @white;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.caption__links-description--box {
  margin: 5px auto;
  width: 270px;
}
