// Contacts

.contacts__contacts {
  height: 395px;
}

.contacts__caption {
  color: @black-blue;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}

.contacts__speech {
  color: @black;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.contacts__info {
  list-style-type: none;
  color: @red;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.contacts__category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("../img/index/triangle-white-background.png") no-repeat center;
}
