// Cost

.cost__tarif-name {
  color: @white;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.cost__price {
  color: @white;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.cost__services-item {
  color: @black-blue;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.cost__slider {
  display: flex;
  width: 56px;
  height: 6px;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
