// Form

.form__human-name-item {
  list-style-type: none;
}

.form__name {
  color: @red;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form__text {
  color: @black-blue;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.form__text--box {
  padding: 23px 20px;
  border: 2px solid @grey-dark;
  border-radius: 1px;
  box-sizing: border-box;
  width: 276px;
  height: 59px;
}
