// researchtion

.researchtion {
  display: none;
}

.researchtion--box {
  height: 330px;
}

.researchtion__img {
  width: 238px;
  height: 276px;
}

.researchtion__desc-cap {
  color: @black;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.researchtion__desc-text {
  color: @black-blue;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.researchtion__desc-link {
  color: @red;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
