// review

@media (min-width: @desktop-width) {
  .reviews {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: min-content 1fr min-content;
  }

  .reviews__quotes {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;
    margin: 50px auto;
  }

  .reviews__arrow-left-slider-button {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .reviews__arrow-right-slider-button {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: -1;
    grid-column-end: -2;
  }

  .review {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: -2;
  }
}

.reviews {
  padding-top: 32px;
}

.reviews--box {
  background-image: url("../img/index/white-background_mob.png");
  background-position-y: -15px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index/white-background_mob@2x.png");
  }
}

.reviews__quotes {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.reviews__arrow-slider-button {
  fill: @black-blue;
  fill-opacity: 0.3;

  &:focus {
    fill-opacity: 0.6;
  }

  &:hover {
    fill-opacity: 0.6;
  }

  &:active {
    fill-opacity: 0.1;
  }

  @media (max-width: @tablet-width-only) {
    display: none;
  }
}

.reviews__arrow-slider-button--box {
  margin-top: 30px;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review__review {
  display: flex;
  flex-direction: column;
}

.review__author {
  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.review__author-name {
  color: @black;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.review__author-name--box {
  margin-bottom: 0;

  @media (min-width: @desktop-width) {
    margin-top: 50px;
    margin-bottom: 5px;
  }
}

.review__author-about {
  color: @white;
  font-weight: normal;
  font-size: 14px;
  line-height: 3px;
  text-align: center;

  @media (min-width: @tablet-width) {
    color: @black-blue;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.review__author-about--box {
  margin: 0;
}

.review__text {
  color: @black-blue;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}

.review__text--box {
  margin-top: 0;
  width: 265px;

  @media (min-width: @tablet-width) {
    width: 95%;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 75%;
  }
}

.reviews__slider--box {
  margin-top: 30px;
}

.reviews__slider--desktop-none {
  @media (min-width: @desktop-width) {
    display: none;
  }
}
