// Site-navigation

.site-navigation__box {
  background-color: @black-blue;

  @media (min-width: @desktop-width) {
    background-color: inherit;
  }
}

.site-navigation__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.site-navigation__item {
  list-style-type: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    margin-left: 75px;
    font-weight: normal;
    line-height: 18px;
    text-transform: none;
  }
}

.site-navigation__item--box {
  height: 63px;
  box-shadow: 0 1px 0 @black, inset 0 1px 0 @grey-shadow;
  display: flex;
  justify-content: center;
}

.site-navigation__page {
  padding-top: 18px;

  @media (min-width: @desktop-width) {
    padding-top: 20px;
  }
}

.site-navigation__toggle {
  @media (min-width: @desktop-width) {
    display: none;
  }
}
